{% macro circle(data, size=200) %}
        <img
        width="{{size}}"
        height="{{size}}"
        src="{{ render_circle(data) }}" ></img>
{% endmacro %}

{% macro rect(data) %}
        <img
        width="200"
        height="200"
        src="{{ render_rect(data) }}" ></img>
{% endmacro %}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bruchrechnung !?</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
    </head>
    
    <body>
        <section class="section">
        <div class="container">
        <div class="columns content is-size-5">
        <div class="column is-half is-offset-one-quarter">

          <h1 class="title">
          Bruchrechnung !?
          </h1>

    <div>
    {{ circle((2, 3)) }}
    +
    {{ circle((1, 4)) }}
    </div>
    <div>
    {{ circle((8, 12)) }}
    +
    {{ circle((3, 12)) }}
    </div>
    <div>
    {{ circle((11, 12)) }}
    </div>



    <math  xmlns="http://www.w3.org/1998/Math/MathML" style="font-size: 30pt">
        <mo>=</mo>
        <mfrac>
            <mi>1</mi>
            <mi>3</mi>
        </mfrac>
    </math>


    </div></div></div>
        </section>
    </body>
</html>
